## Network connection related imports ##
import(httr)
importFrom(rjson, fromJSON, toJSON)

## Bioc utility functions and S4 constructors ##
importFrom(Biostrings, DNAStringSet, DNAStringSetList)
importFrom(GenomeInfoDb, "seqlevelsStyle<-")
importFrom(GenomicAlignments, GAlignments)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges)
importFrom(Rsamtools, bamFlagAsBitMatrix)
importFrom(S4Vectors, Rle)
importFrom(VariantAnnotation, strand, VRanges)

#### Exports ####

## Authentication ##
export(authenticate)

## Generic Search ##
export(getSearchPage)

## Reads ##
export(getReadsPage)
export(getReads)
export(readsToGAlignments)

## Variants ##
export(getVariantsPage)
export(getVariants)
export(variantsToGRanges)
export(variantsToVRanges)
export(variantsToVCF)
